pytest
requests
pandas
pandas-ta
pylint
matplotlib
Sphinx
rinohtype
datetime
uuid
openpyxl
xlsxwriter
plotly
dash
tensorflow
scikit-learn
twilio
jinja2
deepdiff
flask
gunicorn
dropbox
Werkzeug
mysql-connector-python
google-api-python-client
google-auth