<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Invst Project</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/app.css') }}">
</head>

<body>
    <div class="pageTitle">
        <h1>Invst Project</h1>
    </div>

    <div class="blockTopic">
        <header class="titleTopic">
            Analysis
        </header>
        <div class="explanationTopic">
            <p>Executes the analysis for a define symbol or list of symbols. In
                the Symbol input, the desired ticker for analysis needs to be
                inserted. Alternatively a list can be passed, separating the
                ticker by semicolon (";") symbol. The second button option is to
                run a complete analysis for a portfolio, using a pre-defined
                list of tickers.
            </p>
        </div>
        <div class="topicsGrid countTopicsGrid2">
            <div class="elementTopic">
                <div class="elementTable">
                    <div class="elementTableCell">
                        <form method="POST" action="{{url_for('call_run_analysis')}}">
                            <p class="labelParagraph">Symbol</p>
                            <input class="inputText" type="text" name="analysis_symbol_name" />
                            <input class="actionButton" type="submit" name="run_analysis_button" value="Run analysis" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="elementTopic">
                <div class="elementTable">
                    <div class="elementTableCell">
                        <form method="GET" action="/analysis/complete">
                            <input class="actionButton" type="submit" name="run_analysis_complete_button"
                                value="Run analysis complete" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="blockTopic">
        <header class="titleTopic">
            Update Comdirect
        </header>
        <div class="explanationTopic">
            <p>Collects the actual information for the Comdirect account. The
                access to the Comdirect demands 2-factor authentication by the
                TAN application. To proced there are 2 options available. The
                first is by user input following the TAN response, and the
                second is based on a timer of 30 seconds. For the first option,
                after clicking on the "Run Step 1" button, the TAN request
                push will be received by the account owner, and after acceptance
                then the "Run Step 2" is to be clicked, where the remaining of
                the routine will be executed.
            </p>
        </div>
        <div class="topicsGrid countTopicsGrid3">
            <div class="elementTopic">
                <div class="elementTable">
                    <div class="elementTableCell">
                        <form method="POST" action="{{url_for('call_run_update_part1')}}">
                            <input class="actionButton" type="submit" name="watch1" value="Run Step 1" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="elementTopic">
                <div class="elementTable">
                    <div class="elementTableCell">
                        <form method="POST" action="{{url_for('call_run_update_part2')}}">
                            <input class="actionButton" type="submit" name="watch2" value="Run Step 2" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="elementTopic">
                <div class="elementTable">
                    <div class="elementTableCell">
                        <form method="POST" action="{{url_for('call_run_update')}}">
                            <input class="actionButton" type="submit" name="watch2" value="Run based on timer" />
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% with messages = get_flashed_messages(category_filter=["comdirect-status"]) %}
        {% if messages %}
        <div class="statusGrid">
            <div class="elementTopic">
                <div class="elementStatus">
                    <p class="statusList">
                        {% for message in messages %}
                        {{ message }}<br>
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
        {% endif %}
        {% endwith %}
    </div>

    <div class="blockTopic">
        <header class="titleTopic">
            Display Report
        </header>
        <div class="explanationTopic">
            <p>Opens a report page from the Comdirect stored data.
            </p>
        </div>
        <div class="topicsGrid countTopicsGrid1">
            <div class="elementTopic">
                <div class="elementTable">
                    <div class="elementTableCell">
                        <form method="POST" action="{{url_for('render_report')}}">
                            <input class="actionButton" type="submit" name="watch3" value="Display report" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="blockTopic">
        <header class="titleTopic">
            Close Database
        </header>
        <div class="explanationTopic">
            <p>Close the Cloud SQL database instance. This is a recommendation
                step to avoid unecessary costs of operation on cloud. The
                start operation of the instance is triggered automatically on
                the loading of the server, and doesn't need manual operation.
            </p>
        </div>
        <div class="topicsGrid countTopicsGrid1">
            <div class="elementTopic">
                <div class="elementTable">
                    <div class="elementTableCell">
                        <form method="POST" action="{{url_for('close_database')}}">
                            <input class="actionButton" type="submit" name="watch3" value="Close Database" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>

</html>


<!-- <form action="analysis" method="post">
    <p>Symbol <input type="text" name="symbolname" /></p>
    <p><input type="submit" value="Submit" /></p> -->